
<!-- Main content -->
<section class="content">
    <div class="row">
        <!--tag list-->
        <div class="col-md-2">
            <div class="box box-solid collapsed-subbox">
                <div class="box-header with-border">
                    <h3 class="box-title">标签</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" id="tag-add-btn">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding" style="display: block;">
                    <div class="box-body" style="display: none;">
                        <input type="text" id="tag-input" placeholder="输入标签..." class="form-control">
                        <button class="btn btn-primary btn-flat" id="tag-add-confirm-btn" style="width:100%;margin-top:10px;">添加</button>
                    </div>
                    <ul class="nav nav-pills nav-stacked" id="tag-list">
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!--extension list-->
        <div class="col-md-10">
            <section id="ext-list">
            </section>
        </div>
    </div>
</section>
<!-- /.content -->
