
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 id="header-selected-tag">
        XXX<small>共0个</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!--tag list-->
        <div class="col-sm-4 col-md-3 col-lg-2">
            <div class="box box-solid" style="-webkit-user-select: none;background: transparent;">
                <div class="box-header with-border" style="background: white;">
                    <h3 class="box-title">标签</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding" style="display: block;">
                    <ul class="nav nav-pills nav-stacked">
                        <!-- 添加新标签 -->
                        <li class="box collapsed-box sf-hover-pointer">
                            <a class="box-header" data-widget="collapse" id="tag-input-collapse">
                                <i class="fa fa-plus text-purple"></i>
                                新标签
                            </a>
                            <div class="box-body" style="display: none;">
                                <input type="text" id="tag-input" placeholder="输入标签,回车确认..." class="form-control">
                            </div>
                        </li>
                        <!-- 无标签 -->
                        <li class="box sf-hover-pointer" id="tag-raw">
                            <a>
                                <i class="fa fa-circle-o text-red"></i>
                                空
                                <span class="badge bg-red" style="margin-left:10px" id="tag-raw-size">0</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 标签列表 -->
                    <ul class="nav nav-pills nav-stacked" id="tag-list">
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!--extension list-->
        <div class="col-sm-8 col-md-9 col-lg-10">
            <section id="ext-list">
            </section>
        </div>
    </div>
</section>
<!-- /.content -->
