
<% for (var k = 0; k < tag.length; k++) { %>
<div class="label label-default sf-detail-intro-word-tag">
    <%= tag[k] %>
    <i class="fa fa-trash sf-hover-pointer" style="margin-left: 5px"></i>
</div>
<% } %>