<div id="input-dialog" style="position: fixed;top:0;right:0;bottom:0;left:0;z-index:9999">
    <div style="position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;opacity: 0.5"></div>
    <div class="login-box">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title"><%= title %></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" id="dialog-close-btn">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body"><%= message %></div>
            <div class="box-footer">
                <div class="input-group">
                    <input type="text" id="dialog-input" class="form-control">
                    <span class="input-group-btn"><button class="btn btn-primary btn-flat" id="dialog-ok-btn">
                            <%= btnTxt %>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>