
<!-- To the right -->
<div class="pull-right hidden-xs">
    by jasontujun
</div>
<!-- Default to the left -->
<strong>Copyright &copy; 2015 <a href="#">Shenzhen ShanFox Technology Co. Ltd.</a>.</strong> All rights reserved.