<li class="box">
    <a>
        <i class="fa fa-circle-o text-yellow"></i>
        <%= tag %>
        <span class="badge bg-yellow" style="margin-left: 5px;margin-right: 10px;"><%= tagCount %></span>
    </a>
    <div style="position:absolute;right:5px;top:8px" class="pull-right">
        <button type="button" class="btn btn-box-tool">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</li>