<div class="small-box bg-aqua">
    <div style="width: 100%; min-height: 140px;background-image:url(<%= image %>);
            background-repeat: no-repeat;
            -webkit-background-size: contain;background-size: cover;">

    </div>
    <div class="inner">
        <h3><%= name%></h3>
        <p><%= size %></p>
        <p><%= tag %></p>
    </div>
    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>