<li class="box" id="<%= itemId %>">
    <a>
        <i class="fa fa-circle-o text-yellow"></i>
        <%= tag %>
        <span class="badge bg-yellow" style="margin-left:10px"><%= tagCount %></span>
    </a>
    <div style="position:absolute;right:10px;top:10px" class="pull-right">
        <button type="button" class="btn btn-box-tool" id="<%= removeBtnId %>">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</li>