<div class="col-lg-12  col-xs-12" style="height:60px" id="list-loading">
    <div style="position:absolute;top:50%;left:50%;font-size:30px">
        <i class="fa fa-refresh fa-spin"></i>
        <small style="margin-left:30px"><%= word %></small>
    </div>
</div>