
/* [start]覆盖bootstrap的同名样式 */
.carousel-indicators .active {
    width: 15px !important;
    height: 9px !important;
    background-color: transparent !important;
}
.carousel-indicators {
    position: absolute;
    bottom: auto;
    left: auto;
    z-index: auto;
    width: auto;
    padding-left: 0;
    margin-left: auto;
    text-align: center;
    list-style: none;
}
/* [end]覆盖bootstrap的同名样式 */



.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.sf-hover-pointer:hover {
    cursor: pointer;
}

.widget-user-header .sf-cover-description {
    padding: 20px;
}

.sf-cover-description {
    color:#fff;
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.sf-item-title {
    font-size: 15px;
    font-weight: bold;
    color: #262626;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sf-item-text {
    display: inline-block;
    font-size: 15px;
    color: #303030;
    white-space: nowrap;
}

.sf-item-price {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #1c5ac4;
    text-transform: uppercase;
    margin-right: 5px;
}

.sf-global-cover {
    display: block;
    background-color: rgba(255,255,255,0.55);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow-y: scroll;
    z-index: 1090;
}

.sf-detail-box {
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    border: solid 1px rgba(0,0,0,0.3);
    outline: 0;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 14px;
    background-color: #f1f1f1;
    /*position: absolute;*/
    /*margin: 10px auto;*/
    width: 980px;
    height: 614px;
    overflow:hidden;
}

.sf-detail-box-header {
    height: 100px;
    background-color: #fff;
}

.sf-detail-close-button {
    padding: 5px;
    top: 0;
    right: 0;
    position: absolute;
    border: solid 1px transparent;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    opacity: .5;
}

.sf-detail-icon {
    position: absolute;
    top: 5px;
    left: 40px;
}

.sf-detail-icon-bg {
    position: relative;
    height: 64px;
    width: 64px;
    background: no-repeat url(../img/extension-bg.png) 0 0;
}

.sf-detail-icon-img {
    position: absolute;
    top: 19px;
    left: 19px;
    right: auto;
    height: 26px;
    width: 26px;
    margin: 0;
}

.sf-detail-title-box {
    position: absolute;
    left: 115px;
    top: 11px;
    width: 806px;
    display: inline-block;
}

.sf-detail-title {
    font-size: 28px;
    font-weight: bold;
    color: #262626;
    margin: 0;
    display: inline-block;
    width: 550px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sf-detail-author-box {
    display: block;
    max-width: 260px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b2b2b2;
    margin: -5px 0 5px 2px;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 11px;
}

.sf-detail-author {
    font-size: 11px;
    color: #1c5ac4;
    padding: 1px 2px;
    margin: 0 2px;
    white-space: nowrap;
}

.sf-detail-info-box {
    max-width: 806px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    color: #b2b2b2;
}

.sf-detail-info-text {
    color: #a6a6a6;
    font-style: italic;
    white-space: nowrap;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 11px;
}

.sf-detail-info-separator {
    height: 15px;
    width: 1px;
    display: inline;
    border-left: 1px dotted #a6a6a6;
    margin: 0 10px;
    vertical-align: middle;
    white-space: nowrap;
    color: #b2b2b2;
}

.sf-detail-download-box {
    position: absolute;
    top: 21px;
    right: 40px;
}

.sf-detail-download-button {
    -webkit-user-select: none;
    border-color: #2d53af;
    background-color: #4d7bd6;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5689db),color-stop(100%,#4d7bd6));
    background-image: -webkit-linear-gradient(top,#5689db 0%,#4d7bd6 100%);
    background-image: linear-gradient(to bottom,#5689db,#4d7bd6);
    padding: 0 20px 0 20px;
    display: inline-block;
    height: 28px;
    font-size: 11px;
    line-height: 28px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
    outline: 0;
}

.sf-detail-body-box {
    background-color: #f1f1f1;
    display: block;
}

.sf-detail-tab-bar {
    width: 980px;
    height: 40px;
    outline: none;
    background-color: #fff;
}

.sf-detail-tab-box {
    width: 159px;
    cursor: default;
    float: left;
    height: 40px;
    border-top: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    -webkit-box-shadow: inset 0 2px 1px 1px #fff;
    box-shadow: inset 0 2px 1px 1px #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 20%,rgba(0,0,0,0.05) 100%);
    background-image: linear-gradient(top,rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 20%,rgba(0,0,0,0.05) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f1f1f1',GradientType=0);
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    color: #333;
}

.sf-detail-tab-Fa-box {
    -webkit-box-shadow: inset 0 3px 2px -2px rgba(0,0,0,0.1);
    box-shadow: inset 0 3px 2px -2px rgba(0,0,0,0.1);
    border-bottom: 0;
    background: #f1f1f1;
    filter: none;
}

.sf-detail-tab-end-box {
    width: auto;
    float: none;
    overflow: hidden;
    border-right: none;
    height: 40px;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    -webkit-box-shadow: inset 0 2px 1px 1px #fff;
    box-shadow: inset 0 2px 1px 1px #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 20%,rgba(0,0,0,0.05) 100%);
    background-image: linear-gradient(top,rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 20%,rgba(0,0,0,0.05) 100%);
}

.sf-detail-tab-text-box {
    -webkit-user-select: none;
    display: table;
    height: 100%;
    width: 100%;
}

.sf-detail-tab-text {
    text-shadow: 0 1px rgba(255,255,255,0.5);
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}

.sf-detail-intro-box {
    position: relative;
    height: 480px;
    word-wrap: break-word;
    margin: 40px 7px 40px 40px
}

.sf-detail-intro-slider-box {
    display: inline-block;
    position: relative;
    width: 640px;
    height: 431px;
}

.sf-detail-intro-slider-indicator-box {
    position: absolute;
    top: -45px;
    height: 80px;
    width: 640px;
    text-align: center;
    margin-top: 20px;
    -webkit-user-select: none;
}

.sf-detail-intro-slider-indicator-dot-box {
    display: inline-block;
    position: relative;
    padding: 0 3px;
    vertical-align: top;
}

.sf-detail-intro-slider-indicator-dot {
    width: 9px;
    height: 9px;
    background: no-repeat url(../img/detail.png) -22px -1138px;
}

.active .sf-detail-intro-slider-indicator-dot {
    width: 9px;
    height: 9px;
    background: no-repeat url(../img/detail.png) -32px -1138px;
}

.sf-detail-intro-word-box {
    width: 260px;
    height: 431px;
    padding-left: 23px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.sf-detail-intro-word-separator {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c6c6c6;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sf-detail-intro-word-tag-box {
    margin-bottom: 12px;
}
.sf-detail-intro-word-tag {
    margin: 5px;
    line-height: 28px;
    font-size: 14px;
    font-family: 'Open Sans',arial,sans-serif;
}
.sf-detail-intro-word-add-tag-box {
    margin-bottom: 5px;
    margin-left: 5px;
    width: 200px;
    border-top: none;
}
.sf-detail-intro-word-add-tag {
    margin-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans',arial,sans-serif;
    padding: .2em .6em .3em;
}

.sf-detail-intro-word-des-box {
    max-height: 275px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

.sf-detail-intro-word-brief-des-box {
    color: #333;
    font-size: 13px;
    font-weight: bold;
    word-wrap: break-word;
}

.sf-detail-intro-word-full-des-box {
    color: #4c4c4c;
    font-size: 11px;
    font-family: 'Open Sans',arial,sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.sf-detail-intro-word-meta-box {
    max-height: 135px;
    overflow: auto;
    padding-right: 20px;
}

.sf-detail-intro-word-meta-info {
    font-size: 11px;
    line-height: 18px;
    margin-top: 3px;
}